.add-character-page {
  position: relative;
  background-color: #ffe0f0;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.3vw;
}

h1 {
  text-align: center;
  margin-top: 0;
}

input::placeholder {
  font-size: 1.5vw;
}

.close-button {
  position: absolute;
  right: 10px;
  border: none;
  background: transparent;
  font-size: calc(2em + 0.5vw);
  cursor: pointer;
  text-decoration: none;
}

.close-button:hover {
  color: #d32f2f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  border: 2px solid #f9c1d9;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

form input:focus {
  border-color: #f6a5c0;
  outline: none;
  box-shadow: 0 0 0 3px rgba(246, 165, 192, 0.5);
}

form button {
  background-color: #f6a5c0;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5vw;
  transition: background-color 0.5s;
}

form button:hover {
  background-color: darken(#f6a5c0, 10%);
}

form button:disabled {
  background-color: #fcd5e4;
  cursor: default;
}

.error {
  color: #f32013;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .add-character-page {
    font-size: 16px;
  }
  .add-character-page .close-button {
    font-size: 36px;
  }
  .add-character-page input::placeholder {
    font-size: 16px;
  }
  .add-character-page form button {
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .add-character-page {
    padding: 15px;
    width: 80%;
  }
  .add-character-page .close-button {
    font-size: calc(2em + 0.5vw);
  }
  .add-character-page form button {
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
  .add-character-page {
    padding: 10px;
    width: 95%;
    max-width: none;
    font-size: calc(0.1em + 1.5vw);
  }
  .add-character-page .close-button {
    font-size: calc(2.5em + 0.5vw);
  }
  .add-character-page input::placeholder {
    font-size: calc(0.4em + 1.5vw);
  }
  .add-character-page form button {
    font-size: calc(0.7em + 2vw);
  }
}

@media (max-width: 320px) {
  .add-character-page {
    font-size: 8px;
  }
  .add-character-page .close-button {
    font-size: 22px;
  }
  .add-character-page input::placeholder {
    font-size: 8px;
  }
  .add-character-page form button {
    font-size: 12px;
  }
}
