.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, $primary-color, $secondary-color);
  padding: 0;
  box-sizing: border-box;
  padding: 1em; 
  border-top: 1px solid $border-color; 
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-content {
    width: 85%;
    text-align: center;
    p {
      margin: 0.5em 0;
      font-size: calc(0.6em + 1vw); 
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    a {
      font-size: 1.3em; 
      color: #0b437e;
      transition: color 0.3s ease;

      &:hover {
        color: darken($font-color, 10%);
      }
    }
  }

  @media (max-width: 1024px) {
    .content p {
      font-size: calc(0.7em + 1vw); 
    }
    .footer-content {
      width: 100%;
    }
    .social-links a {
      font-size: 1em; 
    }
  }

  @media (max-width: 768px) {
    .content p {
      font-size: calc(0.8em + 1vw); 
    }

    .social-links a {
      font-size: 1em; 
    }
  }

  @media (max-width: 480px) {
    .content p {
      font-size: calc(0.65em + 1vw); 
    }

    .social-links a {
      font-size: 0.8em;
    }
  }
}