.header {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $border-color;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  padding-bottom: 10px; 
  box-sizing: border-box;
  
  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 85%;
    height: 100px;
    padding: 1em;
    flex-shrink: 0;
  }

  .header-content .title {
    flex-basis: 100%;
    color: $font-color;
    font-size: calc(1.4em + 1vw);
  }

  .header-content .buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 1;
    justify-content: flex-start;
  }

  .header-content .buttons button {
    @include button-style;
    font-size: calc(0.6em + 0.7vw);
    padding: 0.4em 0.8em;
  }

  .header-content .language-toggle {
    margin-left: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.2s;
    font-size: calc(0.6em + 0.7vw);
    padding: 0.4em 0.8em;
  }

  .header-content .language-toggle:hover {
    background-color: #3c6b8f;
    transform: scale(1.05);
  }

  .header-content .language-toggle:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 86, 139, 0.5);
  }

  .header-content .language-toggle:active {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0.25em;
    align-content: center;
    .header-content {
      margin: 0; 
      padding: 0;
      min-width: 100%;
    }
  }
  .header .header-content .title {
    font-size: calc(0.8em + 1.7vw);
  }

  .header .header-content .buttons button {
    font-size: calc(0.6em + 0.7vw);
    padding: 0.4em 0.8em;
  }

  .header .header-content .language-toggle {
    font-size: calc(0.6em + 0.7vw);
    padding: 0.4em 0.8em;
  }
}

@media (max-width: 480px) {
  .header .header-content .title {
    font-size: calc(0.9em + 1.5vw);
  }

  .header .header-content .buttons {
    max-width: 85%;
  }

  .header .header-content .buttons button {
    font-size: calc(0.6em + 0.5vw);
    padding: 0.4em 0.1em;
  }

  .header .header-content .language-toggle {
    font-size: calc(0.6em + 0.5vw);
    padding: 0.4em 0.8em;
  }
}

@media (max-width: 320px) {
  .header .header-content .title {
    font-size: calc(1.1em + 0.6vw);
  }

  .header .header-content .buttons button {
    font-size: calc(0.5em + 0.5vw);
    padding: 0.4em 0.4em;
  }

  .header .header-content .language-toggle {
    font-size: calc(0.5em + 0.5vw);
    padding: 0.4em 0.8em;
  }
}
