table {
  width: 100%;
  max-width: none;
  border-collapse: collapse;
  background-color: $background-color;
  margin: 1em auto;
  box-sizing: border-box;
}

th,
td {
  box-sizing: border-box;
  text-align: left;
  padding: 0.4em;
  border-bottom: 1px solid $border-color;
  font-size: calc(0.6em + 0.5vw); /* Изменено на исходное значение */
  position: relative;
}

th,
td:hover {
  background-color: $hover-color;
  color: white;
}

th {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 0.4em;
}

th .resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #ccc;
  cursor: col-resize;
  z-index: 1;
}

th .resize-handle:hover {
  background-color: darken(#ccc, 10%);
}

th .sort-symbol {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s ease;
}

th .sort-symbol:after {
  content: '↕';
}

th .sort-symbol.asc:after {
  content: '↑';
}

th .sort-symbol.desc:after {
  content: '↓';
}

tr {
  position: relative;
}

@media (max-width: 1024px) {
  table,
  th,
  td {
    font-size: calc(0.4em + 1vw); /* Изменено на исходное значение */
  }
}

@media (max-width: 768px) {
  table {
    margin: 0.5em auto;
  }

  th,
  td {
    font-size: calc(0.6em + 0.7vw); /* Изменено на исходное значение */
  }

  th {
    padding-left: 8px;
    padding-right: 8px;
  }

  th .sort-symbol {
    right: 7px;
  }
}

@media (max-width: 480px) {
  table {
    min-width: 100%;
  }

  th .sort-symbol {
    right: 6px;
  }

  table th,
  table td {
    font-size: calc(0.65em + 0.7vw); /* Изменено на исходное значение */
  }

  button {
    font-size: calc(0.65em + 0.7vw); /* Изменено на исходное значение */
  }
}

@media (max-width: 320px) {
  table {
    max-width: 100%;
  }

  th .sort-symbol {
    right: 4px;
  }

  button {
    font-size: calc(0.65em + 0.7vw); /* Изменено на исходное значение */
  }
}
